.headerStyle{
    text-align: center;
    height: 64;
    line-height: 64px;
    background-color:#E4E4E4;
    padding-inline: 0;
}
.logo{
  height: 46px;
  margin: 10px 0;
}
.headerStyle .ant-menu-light{
  background-color:#E4E4E4;
}