
body{
    margin: -18px 0 0;
}
.siderStyle{
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #317DC3 ;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}