//Global changes
*, table, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.tableView{
    padding: 30px;
}
.title-style {
     color: #fff;
     font-size: 1.8em;
     max-height: 4.5em;
     margin: 0;
     padding: 0;
}
.buttonStyle{
    float: right;
    margin: 2em 5em;
    background-color: #E4E4E4;
    color: #000;
    padding: 1px 22px;
}
.fileUpload{
     background-color: #B0E6C7;
     padding:8px;
     border-radius:14px;
}
.heading{
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 0 0 30px;
}
input::file-selector-button {
     color: #000;
     background-color: #e4e4e4;
     padding: 0.4em 1em;
     border: none;
     border-radius: 0.5em;
     margin-right: 10px;
     text-decoration: underline;
}
.tableView .ant-table-wrapper .ant-table-tbody >tr>td{
    padding: 10px 15px;
    border-bottom: 3px solid #47ACDC;
}
.tableView .ant-table-wrapper .ant-table-container .ant-table-cell{
    text-align: center;
}
.tableView .ant-checkbox .ant-checkbox-inner{
    width: 22px;
    height: 22px;
    border: 1px solid #B1BECA;
}
.tableView .ant-checkbox-checked .ant-checkbox-inner{
    width: 22px;
    height: 22px;
    border: 1px solid #B1BECA;
    background-color: #fff;
}
.tableView .ant-checkbox-checked:after {
    border:none;
}
.tableView .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: #fff;
    border-color: #B1BECA;
    border: none;
}
.tableView .ant-table-cell .ant-table-selection-column .ant-table-cell-row-hover{
    border-color: #B1BECA;
}

.tableView .ant-checkbox-indeterminate .ant-checkbox-inner:after {
    top: 50%;
    inset-inline-start: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 0;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    content: "";
}
.tableView .ant-checkbox-checked .ant-checkbox-inner:after {
    opacity: 1;
    transform: rotate(45deg) scale(1) translate(-50%,-50%);
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    inset-inline-start: 21.5%;
    display: table;
    width: 5.7142857142857135px;
    height: 9.142857142857142px;
    border: 2px solid #000;
    border-top: 0;
    border-inline-start: 0;
}
.tableView span.status {
    background-color: #E4E4E4;
    padding: 4px 40px;
    border-radius: 4px;
}
.tableView .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child{
    width: 20%;
}
.tableView .ant-table-wrapper .ant-table-thead >tr>th{
    background-color: #E4E4E4;
    border-bottom: none;
}
.tableView .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    width: 0;
}
.tableView .ant-table-wrapper .ant-table{
    background: rgba(163, 205, 248, 0.8);
}